# node packages
node_modules/

# builds
artifacts/
artifacts-zk/

cache/
cache-zk/

bin/

# ide files
.vscode/

# secrets
.env
secrets.json

# logs
yarn-error.log

# workspace
misc/
flatten/